.partone{
display:flex;
height:90vh;
align-items: center;
gap:70px;

}
.one img{
   width:400px;
   height: 450px;
  margin-left: 100px;
   border-radius:50%;
   border:5px solid grey;
   margin-top: 20%;
}
.two{
   display:flex;
   flex-direction: column;
   font-weight:600;
   
}
.two{
  line-height: 2.9rem;
  margin-left: 3%;
  margin-top:10%;
  /* box-shadow: 0 0 10px grey; */
    
}
.first{
   margin-left: 1.3rem;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.3rem;

}
h1{
   font-family:cursive;
   color:mediumvioletred;
   margin-left: 1.2rem;
   font-size: 3rem;
   
}
.second{
   margin-left: 1.2rem;
   font-family: cursive;
   font-size: 1.5rem;

   color:midnightblue;
}
p{
   margin-left: 1.3rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-transform: capitalize;
   letter-spacing: .5px;
   color:rgb(63, 61, 55);
   font-weight:900;
   font-size: 1.2rem;
}

.btns{
   margin-left:10%;
   padding:20px;
  
}
.btns button{
   border-radius: 1.5rem;
   padding:10px 30px;
   font-size:25px;
   font-family: italic;
   font-weight: 600;
  margin-right:20px;
  border:4px outset mediumvioletred;
  box-shadow: 0 0 10px blue;
}
.btns .bt{
   background-color: transparent;
}
.btns .bt:hover{
   background-color: black;
   color:white;
   transition:3s ease;
}
.btns .btn{
   background-color: black;
   color:white;
}
.btns .btn:hover{
   background-color:transparent;
   color:black;
   transition: 2s ease;
}
.icons {
font-size: 2.5rem;
margin-left:25%
}
.icons #brand{
 border-radius: .5em;
 padding:20px 5px;
}
#brand:hover{
   transform:scale(1.1, 1.2);
   transition: 1.2s ease-in-out;
}