 *{
  padding:0;
  margin:0;
 }
 body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(229, 74, 103),rgb(114, 181, 232));
    cursor: pointer;
 }
 #sun{
    font-family:cursive; 
   font-size: 3rem;
   font-weight:600;
   color:white;
   /* box-shadow: 0 0 10px white; */
 }

 .nav{
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding:0px 100px
 }
 ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
 
}
 li{
   margin-left:40px;
   font-weight: 200;
   font-size:1.6rem;
   font-family:cursive


 }
 a{
   text-decoration: none;
   color:black;
 }
 a:hover{
   color:midnightblue;
   transition :all 1.1s ease;
   text-underline-offset: 10px;
   text-decoration:underline;
  text-decoration-color:red ;
 }
 .nav-menu{
  display:none;
 }
 @media(max-width:1024px){
  .nav{
    display:none;
  }
  .nav-menu{
  display:flex;
  }
  .ham{
    background-color: white;
    box-shadow: rgba(0,0,0, 0.24)0px 3px 8px;
    position :fixed;
    right:30px;
    top:20px;
    padding:4px;
  }
.ham i{
  font-size:35px;
  margin-top:15px;
}

 
 }