 body{ 
            margin:0;
            padding:0;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 800;
            background: black;
            overflow:hidden;
             user-select: none; 
            font-size: 1.3em;
            position:relative 
         }
         #startscreen,
         #endscreen{
            position :absolute;
            top:0;
            left:0;
            width:100%;
          height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color:white;
            z-index: 2;

         }
         #startscreen button,#endscreen button{
            font-size: 1.2rem;
            cursor: pointer;
            margin-top:50px;
         
            border-radius:.5rem;
            border:none;
            box-shadow:0 0 10px white
         }
         #ballon-container{
            position:relative;
            width: 100%; height:100%;overflow:hidden;z-index: 1;
         }
         .ballon{
            position:absolute;
       bottom: -50px;
       animation: flota linear;
        cursor:pointer;
        font-size: 100px;
         }
         #scoreboard{
            position: absolute;
            top:10px;
            left:10px;
            height:100vh;
            font-size: 1.4rem;
            padding:8px 15px;
            border-radius:8px;
            z-index:3;
            color:white;
            background-color: rgb(122, 122, 19);
         }
         @keyframes flota{
            from{
                bottom:-50px;
                opacity:1;
            }
            to{
                bottom:110px;
                opacity:0.5
            }
         }


          


